/* Some basics to make it easier to read. */
:root {
	--spacing: 1em;
	--font-family: "area-variable", sans-serif;
	--font-settings: "slnt" 0, "wdth" 100, "wght" 100, "INKT" 0;
	--header-size: 2.5rem;
	--paragraph-size: 0.95rem;

	--red-orange: #e43d12;
	--muted-pink: #d6536d;
	--light-pink: #ffa2b6;
	--yellow: #efb11d;
	--beige: #ebe9e1;
	--charcoal: #121212;
	--nav-bg: #d3d3d3;
}

body {
	background-color: var(--beige);	
	/* background-color: var(--charcoal); */
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	display: grid;
	gap: var(--spacing);
	/* margin: initial; */
	padding: var(--spacing);
	font-family: var(--font-family);

	#toggle-buttons {
		display: flex;
		gap: var(--spacing);
		justify-content: center;
		margin-block-end: calc(var(--spacing) * 2);
		margin-block-start: var(--spacing);
		/* color: var(--red-orange); */
		/* background-color: var(--nav-bg);
		border-radius: 10px;
		padding: calc(var(--spacing) * 0.5); */

		/* #toggle-buttons button {
			background: transparent;
			border: none;
			padding: calc(var(--spacing) * 2);
		} */

		#create-song:hover {
			color: var(--red-orange);
			font-weight: 500;
		}

		#view-songs:hover {
			color: var(--red-orange);
			font-weight: 500;
		}


		/* .active {
			color: var(--red-orange);
		} */
	}
}

/* FORM */
form {
	background-color: var(--nav-bg);
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
	/* margin: calc(var(--spacing) / 2); */

}
form label {
	display: flex;
	flex-direction: column;
	/* gap: calc(var(--spacing) * 20); */
	font-size: var(--paragraph-size);
	padding-block-end: var(--spacing);
	font-weight: 500;
	color: var(--red-orange);

}
form input, form textarea, form select {
	padding: var(--spacing);
	border: 1px solid var(--charcoal);
	border-radius: calc(var(--spacing) / 2);
	font-family: var(--font-family);
	font-size: calc(var(--paragraph-size)/1.1);
	width: 100%;

}
/* input::placeholder {
	color: var(--muted-pink);
} */



.title {
	margin: 0;
	padding: 0;
	line-height: 1;
}



#enter-state {
	display: grid;
	/* gap: var(--spacing); */
	gap: 0.1rem;
	min-height: 40vh;
	text-align: center;
	justify-content: center;
	/* align-content: center; */

	h1 {
		font-size: var(--header-size);
		color: var(--red-orange);
		/* color: var(--beige); */
		font-weight: 900;
		text-transform: uppercase;
		/* text-align: center; */
		line-height: 1.5;
	}

	p {
		font-size: var(--paragraph-size);
		color: var(--red-orange);
		/* color: var(--beige); */
		font-weight: 500;
		margin-block-start: 0;
	}
}


.hidden {
	display: none;
}

.song-information {
	display: none;
}

.expanded .song-information {
	display: block;
}

.song-entry {
	border: 1px solid var(--charcoal);
	padding: 1em;
	cursor: pointer;
	margin-block-end: 1rem;
	/* margin-inline-end: 50%; */
	max-width: 100%;
	/* box-shadow: 1rem 1rem 1rem #000; */
	/* border: 1px solid var(--charcoal); */
	
}


footer {
	padding: var(--spacing);
	gap: var(--spacing);
}