/* Some basics to make it easier to read. */
:root {
	--spacing: 1em;
	--font-family: "area-variable", sans-serif;
	--font-settings: "slnt" 0, "wdth" 100, "wght" 100, "INKT" 0;
	--header-size: 2.5rem;
	--paragraph-size: 0.95rem;

	--red-orange: #e43d12;
	--muted-pink: #d6536d;
	--light-pink: #ffa2b6;
	--yellow: #efb11d;
	--beige: #ebe9e1;
	--beige-blur: rgba(235, 233, 225, 0.5);
	--charcoal: #121212;
	--nav-bg: #d3d3d3;
	--light-orange: #ed7014;
}

body {
	background-color: var(--beige);	
	/* background-color: var(--charcoal); */
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

main {
	display: grid;
	gap: var(--spacing);
	/* margin: initial; */
	padding: var(--spacing);
	font-family: var(--font-family);
	/* overflow: visible; */

	#toggle-buttons {
		display: flex;
		gap: var(--spacing);
		justify-content: center;
		margin-block-end: calc(var(--spacing) * 2);
		margin-block-start: var(--spacing);
		/* margin-inline: calc(var(--spacing)*-1); */
		padding-block: calc(var(--spacing)*1.1);
		position: sticky;
		top: 0;
		left: 0;
		right: 0;
		/* bottom: 0; */
		z-index: 100;
		background-color: var(--beige-blur);
		backdrop-filter: blur(10px);
		width: 100%;
		/* color: var(--red-orange); */
		/* background-color: var(--nav-bg);
		border-radius: 10px;
		padding: calc(var(--spacing) * 0.5); */

		/* #toggle-buttons button {
			background: transparent;
			border: none;
			padding: calc(var(--spacing) * 2);
		} */

		#create-song:hover {
			color: var(--red-orange);
			font-weight: 600;
		}

		#view-songs:hover {
			color: var(--red-orange);
			font-weight: 600;
		}


		/* .active {
			color: var(--red-orange);
		} */
	}
}

/* FORM */
form {
	/* background-color: var(--nav-bg); */
	background-color: #f1f3ea;
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
	/* margin: calc(var(--spacing) / 2); */

}
form label {
	display: flex;
	flex-direction: column;
	/* gap: calc(var(--spacing) * 20); */
	font-size: var(--paragraph-size);
	padding-block-end: var(--spacing);
	font-weight: 500;
	color: var(--red-orange);

}
form input, form textarea, form select {
	padding: var(--spacing);
	border: 1px solid var(--charcoal);
	border-radius: calc(var(--spacing) / 2);
	font-family: var(--font-family);
	font-size: calc(var(--paragraph-size)/1.1);
	/* this might be a "just looks right" number, but I tried scale factors of 0.95, and dividing by 1.1 felt the most appropriate */
	width: 100%;
}

form textarea {
	resize: vertical;	
	min-height: calc(var(--spacing)*10);
}

/* input::placeholder {
	color: var(--muted-pink);
} */

button {
	font-family: var(--font-family);
	font-size: var(--paragraph-size);
	cursor: pointer;
	border-radius: var(--spacing);
	padding-inline: calc(var(--spacing)*0.5);
	padding-block: calc(var(--spacing)*0.5);
	border: none;

}

.edit-button, button.reset {
	background-color: transparent;
	color: var(--light-orange);
	border: 1.5px solid var(--light-orange);

	&:hover {
		color: var(--red-orange);
		border-color: 1.5px solid var(--red-orange);
		font-weight: 600;
	}
}

.delete-button, button.submit {
	background-color: var(--light-orange);
	color: var(--beige);

	&:hover {
		background-color: var(--red-orange);
		font-weight: 600;
	}
}

.song-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	transition: transform 0.1s ease;
}

.expanded .arrow {
	transform: rotate(180deg);
}


#create-song, #view-songs {
	background-color: transparent;
	color: var(--charcoal);
	border: 1px solid var(--charcoal);
}


.title {
	margin: 0;
	padding: 0;
	line-height: 1;
}



#enter-state {
	display: grid;
	/* gap: var(--spacing); */
	gap: 0.1rem;
	min-height: 40vh;
	text-align: center;
	justify-content: center;
	/* align-content: center; */

	h1 {
		font-size: var(--header-size);
		color: var(--red-orange);
		/* color: var(--beige); */
		font-weight: 900;
		text-transform: uppercase;
		/* text-align: center; */
		line-height: 1.5;
	}

	p {
		font-size: var(--paragraph-size);
		color: var(--red-orange);
		/* color: var(--beige); */
		font-weight: 500;
		margin-block-start: 0;
	}
}


.hidden {
	display: none;
}

.song-information {
	display: none;
}

.expanded .song-information {
	display: block;
}

.song-entry {
	border: 1px solid var(--charcoal);
	padding: 1em;
	cursor: pointer;
	margin-block-end: 1rem;
	max-width: 100%;
	color: var(--charcoal);

	&:hover {
		border-color: var(--red-orange);
		border: 1px solid var(--red-orange);
	}

	h3 {
		font-size: calc(var(--paragraph-size)*1.25);
	}
	
	p {
		font-size: calc(var(--paragraph-size)/1.1);
		opacity: 0.8;
	}
}


footer {
	padding: var(--spacing);
	gap: var(--spacing);
	font-family: var(--font-family);
	font-size: calc(var(--paragraph-size)/1.1);
	color: var(--red-orange);
	font-weight: 500;
	/* word-spacing: calc(var(--spacing)/2.5); */
}


/* TABLET BREAKPOINT */
@media (min-width: 768px) {
	form {
		padding: calc(var(--spacing)*1.5);
		margin: calc(var(--spacing)*1.5);
	}
	footer {
		padding: calc(var(--spacing)*1.5);
		margin: calc(var(--spacing)*1.5);
	}

	#enter-state {
		h1{
			font-size: calc(var(--header-size)*1.5);
		}
		p {
			font-size: calc(var(--paragraph-size)*1.25);
			padding: calc(var(--spacing)*2.5);
		}
	}
}



@media (min-width: 1024px) {
	form {
		padding: calc(var(--spacing)*3);
		margin: calc(var(--spacing)*3);
	}
	footer {
		padding: calc(var(--spacing)*3);
		/* margin: calc(var(--spacing)*3); */
	}
}

