/* Some basics to make it easier to read. */
main {
	--spacing: 2em;

	display: grid;
	gap: var(--spacing);
	margin: initial;
	padding: var(--spacing);
}

form {
	background-color: whitesmoke;
	border-radius: calc(var(--spacing) / 2);
	display: grid;
	gap: var(--spacing);
	padding: var(--spacing);
}


.hidden {
	display: none;
}

.song-information {
	display: none;
}

.expanded .song-information {
	display: block;
}

.song-entry {
	border: 1px solid #000;
	padding: 5em;
	cursor: pointer;
	margin-block-end: 5rem;
	/* margin-inline-end: 50%; */
	max-width: 40%;
	/* box-shadow: 1rem 1rem 1rem #000; */
	/* border: 1px solid #000; */
	
}

/* .saved-songs {
	border: 1px solid #000;
} */

footer {
	padding: 2rem;
	gap: var(--spacing);
}